<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded align-items-center justify-content-center mx-0">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4 text-center">Hồ Sơ</h6>
            <form method="POST">
                <div class="mb-3">
                    <label for="exampleInputUsername1" class="form-label">Tên đăng nhập</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" value= "{{username_login}}" name="UsernameModify">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Địa chỉ Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" value= "{{context[0]}}" name="EmailModify">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name='PasswordModify' value="{{context[1]}}">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"> Xác nhận mật khẩu</label>
                    <input type="text" class="form-control" id="exampleInputPassword2" name='ConfirmPasswordModify' value="{{context[1]}}">
                </div>
                <button type="submit" class="btn btn-primary justify-content-center">Nộp</button>
                {% if alert == "done" %}
                    <!--<div class="alert alert-success" role="alert">
                        Thay đổi thông tin cá nhân thành công!
                    </div>-->
                    
                    <script>alert("Thay đổi thông tin cá nhân thành công!")</script>
                {% endif %}
            </form>
        </div>
    </div>
</div>