<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded  mx-0">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Danh sách tài khoản</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Tên đăng nhập</th>
                                <th scope="col" class="text-center">Địa chỉ Email</th>
                                <th scope="col" class="text-center">Chức vụ</th>
                                <th scope="col" class="text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id = "content-of-table">
                            <script src="{{url_for('static',filename='js/showAccContent.js')}}"></script>
                        </tbody>
                    </table>
                    <div id="id01" class="modal">
                        <!--<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
                        <form class="modal-content" action="/action_page.php">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                            <div class="container">
                                <h1>Xác nhận</h1>
                                <p>Bạn có chắc chắn muốn xóa vĩnh viễn tài khoản này?</p>
                        
                                <div class="clearfix">
                                <button type="button" class="cancelbtn">Hủy</button>
                                <button type="button" class="deletebtn">Xóa</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>