<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded  mx-0">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Danh sách tài khoản</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Tên đăng nhập</th>
                                <th scope="col" class="text-center">Địa chỉ Email</th>
                                <th scope="col" class="text-center">Chức vụ</th>
                                <th scope="col" class="text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id = "content-of-table">
                            <script src="{{url_for('static',filename='js/showAccContent.js')}}"></script>
                            
                        </tbody>
                    </table>
                    {% include 'includes/modal1.html' %}
                    {% include 'includes/modal2.html' %}
                    {% include 'includes/EditModal.html' %}
                </div>
            </div>
        </div>
    </div>
</div>