<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-light rounded  mx-0">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h4 class="mb-4">Danh sách tài khoản</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">STT</th>
                                <th scope="col" class="text-center">Tên đăng nhập</th>
                                <th scope="col" class="text-center">Địa chỉ Email</th>
                                <th scope="col" class="text-center">Chức vụ</th>
                                <th scope="col" class="text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td align ="center">Jacob</td>
                                <td align ="center">jacob@email.com</td>
                                <td align ="center">member</td>
                                <td align ="center">
                                    <button type="button" class="btn btn-square btn-outline-warning m-2"><i class="fas fa-user-edit"></i></i></button>
                                    <button type="button" class="btn btn-square btn-outline-danger m-2"><i class="fas fa-user-minus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td align ="center">Jacob</td>
                                <td align ="center">jacob@email.com</td>
                                <td align ="center">member</td>
                                <td align ="center">
                                    <button type="button" class="btn btn-square btn-outline-warning m-2"><i class="fas fa-user-edit"></i></i></button>
                                    <button type="button" class="btn btn-square btn-outline-danger m-2"><i class="fas fa-user-minus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td align ="center">Jacob</td>
                                <td align ="center">jacob@email.com</td>
                                <td align ="center">member</td>
                                <td align ="center">
                                    <button type="button" class="btn btn-square btn-outline-warning m-2"><i class="fas fa-user-edit"></i></i></button>
                                    <button type="button" class="btn btn-square btn-outline-danger m-2"><i class="fas fa-user-minus"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center">1</th>
                                <td align ="center">Jacob</td>
                                <td align ="center">jacob@email.com</td>
                                <td align ="center">member</td>
                                <td align ="center">
                                    <button type="button" class="btn btn-square btn-outline-warning m-2"><i class="fas fa-user-edit"></i></i></button>
                                    <button type="button" class="btn btn-square btn-outline-danger m-2"><i class="fas fa-user-minus"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>