<div id="id02" class="modal">
    <form class="modal-content" action="#">
        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
        <div class="container">
            <h1>Cảnh báo</h1>
            <p>Bạn không thể xóa tài khoản đang được sử dụng!</p>
            <div class="clearfix">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="confirmbtn">Xác nhận</button>
            </div>
        </div>
    </form>
</div>