<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="{{url_for('static',filename='img/icon-admin.png')}}" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">{{username_login}}</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a href="/" class="nav-item nav-link {% if session["tranghientai"] == "mainpage"%}active show{% endif %}"><i class="fa fa-tachometer-alt me-2"></i>Bảng điều khiển</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle {% if session["tranghientai"] == "createAcc" or session["tranghientai"] == "showAcc" %}active{% endif %}" data-bs-toggle="dropdown"><i class="fas fa-users"></i> Quản lý tài khoản</a>
                <div class="dropdown-menu bg-transparent border-0 {% if session["tranghientai"] == "createAcc" or session["tranghientai"] == "showAcc" %}show{% endif %}">
                    <a href="/admin/createAcc/" class="dropdown-item {% if session["tranghientai"] == "createAcc"%}active{% endif %}"><i class="fas fa-user-plus"></i> Tạo tài khoản</a>
                    <a href="/admin/showAcc/" class="dropdown-item {% if session["tranghientai"] == "showAcc"%}active{% endif %}"><i class="fas fa-list"></i> Danh sách tài khoản</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-store"></i> Sản phẩm</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="#" class="dropdown-item"><i class="fas fa-apple-alt"></i> Hoa Quả</a>
                    <a href="#" class="dropdown-item"><i class="fas fa-wine-glass-alt"></i> Đồ Uống</a>
                    <a href="#" class="dropdown-item"><i class="fas fa-seedling"></i> Rau Củ</a>
                    <a href="#" class="dropdown-item"><i class="fa-light fa-bread-loaf"></i> Hỗn hợp khác</a>
                </div>
            </div>
            <a href="#" class="nav-item nav-link"><i class="fas fa-shopping-cart"></i> Đơn hàng</a>
            
        </div>
    </nav>
</div>