<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ADMIN SITE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    {% include 'includes/Header.html' %}
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Đang tải...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    {% if error == "email_already_used" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i> Địa chỉ Email đã tồn tại!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if error == "password_wrong" %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i> Mật khẩu và Xác nhận Mật khẩu không trùng khớp!
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/login/" class="">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>ADMIN</h3>
                            </a>
                            <h3>Đăng Ký</h3>
                        </div>
                        <form action="" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="UsernameInputFieldRegister" id="floatingText" placeholder="jhondoe">
                                <label for="floatingText">Tên Đăng Nhập</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name='EmailInputFieldRegister' placeholder="name@example.com">
                                <label for="floatingInput">Địa chỉ Email</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="floatingPassword" name="PasswordInputFieldRegister" placeholder="Password">
                                <label for="floatingPassword">Mật Khẩu</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="floatingPassword" name="ConfirmPasswordInputFieldRegister" placeholder="Password">
                                <label for="floatingPassword">Xác Nhận Mật Khẩu</label>
                            </div>
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Đăng Ký</button>
                        </form>
                        <p class="text-center mb-0">Đã có sẵn tài khoản? <a href="/login">Đăng Nhập</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>

    <!-- JavaScript Libraries -->
    {% include 'includes/JsLib.html' %}

    <!-- Template Javascript -->
    {% include 'includes/TempJs.html' %}
    
</body>

</html>